1. Do not worry about KeyBoardInterrupt Error, as I will be the one that pressed the "Stop" button. so it's fine if it occurs. You can ignore it, and talk about the stuff before the Keyboard Interrupt Error.